body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(http://landing.escuelaing.edu.co/wp-content/uploads/2017/04/maestrias_v2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 110px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button1{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
}
.button1:hover{
    background: cadetblue;
}
.button2{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 20px;
    background:  #E72B1C;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
}
.button2:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
img {
     max-width: 100px;
     display: block;
     margin: 0px auto;
}
.login{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: -10px;
    text-align: center;
    color: black;
}

.errores {
    color:red;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
    h1{
        text-align: center;
        color: #1a2537;
        font-size: 40px;
    }
}