<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper">

    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id' />
        <result property="idInterno" column="idInterno"/>
        <result property='estado' column='estado'/>
        <result property='nombre' column='nombre' />
        <result property='ubicacion' column='ubicacion' />
        <result property='tipo' column='tipo' />
        <result property='capacidad' column='capacidad' />
    </resultMap>

    <select id="consultarLibros" resultMap="RecursoResult" >
        SELECT *
        FROM public.recursos
        WHERE tipo = 'libro' and estado = 'disponible'
    </select>

    <select id="consultarEquipos" resultMap="RecursoResult" >
        SELECT *
        FROM public.recursos
        WHERE tipo = 'equipo' and estado = 'disponible'
    </select>

    <select id="consultarSalasEstudio" resultMap="RecursoResult" >
        SELECT *
        FROM public.recursos
        WHERE tipo = 'sala' and estado = 'disponible'
    </select>

<!--    <insert id="insertarRecurso" parameterType="map">-->
<!--        insert into recursos (estado, nombre, ubicacion, tipo, capacidad, horainicio, horafin) values-->
<!--        (#{r.estado}, #{r.nombre}, #{r.ubicacion}, #{r.tipo}, #{r.capacidad}, #{r.horainicio}, #{r.horafin})-->
<!--    </insert>-->

</mapper>