<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaMapper">

    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id' />
        <result property="idUsuario" column="id_usuario"/>
        <result property='idRecurso' column='id_recurso'/>
        <result property='fechaInicioReserva' column='fecha_inicio_reserva' />
        <result property='fechaFinReserva' column='fecha_fin_reserva' />
        <result property='fechaReserva' column='fecha_solicitud' />
        <result property='estado' column='estado' />
    </resultMap>

    <select id="consultarPorUsuarioPocaInfo" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM public.reservas
        where estado = 'activa' and idUsuario = #{idUsuario}
    </select>
</mapper>