<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaMapper">

    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id' />
        <result property="idUsuario" column="idUsuario"/>
        <result property='idRecurso' column='idRecurso'/>
        <result property='fechaInicioReserva' column='fechaInicioReserva' />
        <result property='fechaFinReserva' column='fechaFinReserva' />
        <result property='fechaSolicitud' column='fechaSolicitud' />
        <result property='estado' column='estado' />
        <association property="recurso" javaType="Recurso" resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper.RecursoResult" />
    </resultMap>

    <select id="consultarPorUsuarioPocaInfo" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM public.reservas
        INNER JOIN public.recursos ON public.recursos.id = public.reservas.idrecurso
        INNER JOIN public.usuarios ON public.usuarios.email = public.reservas.idusuario
        where public.reservas.estado = 'activa' and idUsuario = #{idUsuario}
    </select>

</mapper>